In [73]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn import utils
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [117]:
dt = pd.read_csv(r"C:\Users\AMAR TANGUDU\OneDrive\Desktop\loan_approval_dataset.csv")
dt.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [119]:
dt.isna().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [121]:
dt = dt.drop(["loan_id"], axis=1)

In [123]:
dt.head()
print(dt[' education'].unique())

[' Graduate' ' Not Graduate']

In [125]:
dt.columns = dt.columns.str.strip()
dt['education'] = dt['education'].map({' Graduate': 1, ' Not Graduate': 0}) 
dt['self_employed'] = dt['self_employed'].map({' Yes': 1, ' No': 0})
dt['loan_status'] = dt['loan_status'].map({' Approved': 1, ' Rejected': 0})

In [127]:
dt.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0

In [141]:
X = dt.drop('loan_status', axis=1)
y = dt['loan_status']

In [143]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=0)

In [145]:
clf=RandomForestClassifier(n_estimators=100)

In [147]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [149]:
y_pred = clf.predict(X_test)

In [151]:
acc = accuracy_score(y_pred, y_test)
print("Accuracy is: ", acc)

Accuracy is:  0.982839313572543